[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
stable-baselines3 = {version = ">=1.1.0a7", extras = ["extra"]}
box2d-py = "==2.3.8"
pybullet = "*"
gym-minigrid = "*"
scikit-optimize = "*"
optuna = "*"
pytablewriter = "*"
seaborn = "*"
sb3-contrib = ">=1.1.0a7"
gym-fishing = "*"
gym-conservation = "*"
PyYAML = ">=5.1"

[dev-packages]

[requires]
python_version = "3.8"
